.lbo-align-extend > .lbo-table {
  height: 100%;
  > div {
    min-height: 100%;
  }
}

.lbo-table {
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;

  &:focus-within {
    outline-style: none;
  }

  &.placeholder {
    cursor: wait;

    .b span {
      color: transparent;
      background: var(--lbo-contrast-40pct);
      border-radius: 50px;
      display: inline-block;
    }
  }

  > div {
    display: grid;
    justify-content: start;
    align-content: start;
    grid-auto-rows: auto;
    > div, header, footer {
      padding: var(--lbo-space-xs) var(--lbo-space-m);
      box-sizing: border-box;
    }
    > .scroll-padding {
      padding: 0;
    }
  }
  .frozen {
    position: sticky;
  }

  .back, .frozen {
    border-radius: 0;
  }

  header, footer {
    font-size: var(--lbo-font-size-l);
    z-index: 2;
    position: sticky;
    &.back {
      background: var(--lbo-base-color);
    }
  }

  &.multi-selection {
    section.selection {
      background: var(--lbo-primary-color-10pct);
    }
  }

  &.single-selection {
    section.cursor {
      background: var(--lbo-primary-color-10pct);
    }
  }

  section {
    border-top: 1px solid var(--lbo-contrast-20pct);
  }

  section:first-of-type {
    border-top: none;
  }

  &:focus-within .back.cursor {
    outline: 2px solid var(--lbo-primary-color-50pct);
    outline-offset: -2px;
  }

  header.back {
    border-bottom: 1px solid var(--lbo-contrast-20pct);
  }

  footer.back {
    border-top: 1px solid var(--lbo-contrast-20pct);
  }

  label {
    align-self: center;
  }

  border-radius: var(--lbo-border-radius-l);
}
