.lbo-grid {
  position: relative;
  display: grid;
  justify-content: start;
  align-content: start;
  overflow: hidden;
  touch-action: none;
  label {
    align-self: center;
    color: var(--lbo-secondary-text-color);
    font-size: var(--lbo-font-size-s);
  }

  border-radius: var(--lbo-border-radius-l);
  > div {
    padding: var(--lbo-space-xs);
    overflow: hidden;
    &.scrollable {
      overflow: auto;
    }
  }

  .appearing, .disappearing {
    overflow: visible;
  }

  .h-splitter {
    position: absolute;
    left: 0;
    right: 0;
    padding: var(--lbo-space-s) 0;
    cursor: row-resize;
    > div {
      padding: 0;
      height: var(--lbo-space-xs);
      background: var(--lbo-contrast-40pct);
    }
  }

  .v-splitter {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0 var(--lbo-space-s);
    cursor: col-resize;
    > div {
      padding: 0;
      height: 100%;
      width: var(--lbo-space-xs);
      background: var(--lbo-contrast-40pct);
    }
  }
}

.lbo-grid.disabled {
  label {
    color: var(--lbo-disabled-text-color);
  }
}

html, body {
  height: 100%;
  margin: 0;
}

html {
  font-size: var(--lumo-font-size-m);
  font-family: var(--lumo-font-family);
  color: var(--lumo-body-text-color);
  background: var(--lbo-base-color);
}

h3 {
  font-size: var(--lbo-font-size-m);
  margin: 0;
}
