.lbo-grid {
  display: grid;
  justify-content: start;
  align-content: start;
  overflow: hidden;
  label {
    align-self: center;
  }

  border-radius: var(--lbo-border-radius);
  > div {
    padding: var(--lbo-space-xs);
    overflow: hidden;
  }
}


html, body {
  height: 100%;
  margin: 0;
}

html {
  font-size: var(--lumo-font-size-m);
  font-family: var(--lumo-font-family);
  color: var(--lumo-body-text-color);
  background: var(--lbo-base-color);
}

h3 {
  font-size: var(--lbo-font-size-m);
}
