html {
  --lbo-font-size-l: var(--lumo-font-size-l);   // header
  --lbo-font-size-m: var(--lumo-font-size-m);
  --lbo-font-size-s: var(--lumo-font-size-s);

  --lbo-font-family: var(--lumo-font-family);
  --lbo-body-text-color: var(--lumo-body-text-color);
  --lbo-secondary-text-color: var(--lumo-secondary-text-color);  // labels
  --lbo-disabled-text-color: var(--lumo-disabled-text-color);  // labels
  --lbo-base-color: var(--lumo-base-color);

  --lbo-primary-text-color: var(--lumo-primary-text-color);
  --lbo-secondary-text-color: var(--lumo-secondary-text-color);

  --lbo-primary-color-10pct: var(--lumo-primary-color-10pct);  // table cursor background
  --lbo-primary-color-50pct: var(--lumo-primary-color-50pct);  // table cursor outline

  --lbo-border-radius-l: var(--lumo-border-radius-l);
  --lbo-border-radius-m: var(--lumo-border-radius-m);
  --lbo-space-m: var(--lumo-space-m);
  --lbo-space-s: var(--lumo-space-s);
  --lbo-space-xs: var(--lumo-space-xs);
  --lbo-error-text-color: var(--lumo-error-text-color);

  --lbo-contrast-10pct: var(--lumo-contrast-10pct);  // input background
  --lbo-contrast-20pct: var(--lumo-contrast-20pct);  // border color
  --lbo-contrast-40pct: var(--lumo-contrast-40pct);
  --lbo-contrast-50pct: var(--lumo-contrast-50pct);

  // switch styling
  --on-color: var(--lumo-primary-text-color);
  --off-color: var(--lumo-contrast-20pct);
  --onHandle-color: var(--lumo-primary-contrast-color);
  --offHandle-color: var(--lumo-primary-contrast-color);
}
